@import "../common.scss";

.action-panel {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 1rem;

  > * {
    display: block;
    flex: 1;
  }

  .action-panel-progressbar {
    height: 0.1rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $light-color;
  }
}
