@font-face {
  font-family: 'Aurebesh';
  src: local('Aurebesh'), url(../../font/aurebesh-droid.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}