@import "../common.scss";

.cheat-sheet-wrapper {
  display: flex;
  height: 100%;

  .cheat-sheet-entry {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    .cheat-sheet-latin {
      margin-right: 0.25rem;
    }

    .cheat-sheet-aurebesh {
      margin-left: 0.25rem;
      font-size: 1.5em;
      font-family: Aurebesh;
    }
  }

  .cheat-sheet-progressbar {
    height: 0.1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $light-color;
  }
}
